body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#messages {
	height: 300px;
	width: 300px;
	border: 1px solid red;
	overflow: auto;
}

.message-control {
	border: 1px solid yellow;
}
